@import "tailwindcss";

@theme {
  --color-gold-400: #FFD700;
  --color-gold-500: #D4AF37;
  --color-gold-600: #AA8C2C;
  --color-dark-900: #121212;
  --color-dark-800: #1E1E1E;
  --color-dark-700: #2C2C2C;
  --color-dark-600: #3A3A3A;
}

body {
  @apply bg-dark-900 text-gray-200;
}
